<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>

	<!--配置属性值，可以在属性文件内编写属性值，也可以在properties标签里面写属性值-->
    <properties resource="mybatis/db.properties">
      <!--  <property name="" value=""></property>-->
    </properties>

	<!-- 設置對應的model的別名 -->
	<typeAliases>
		<typeAlias alias="city" type="ts.persistence.City"/>
		<typeAlias alias="country" type="ts.persistence.Country"/>
		<typeAlias alias="countrylanguage" type="ts.persistence.Countrylanguage"/>
	</typeAliases>
	
	<!--与spring整个后环境配置将废除-->
	<environments default="development">
        <environment id="development">
            <!--使用JDBC事务管理-->
            <transactionManager type="JDBC"></transactionManager>
            <!--数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
	
	<mappers>
		<!-- generator -->
        <mapper  resource="ts/mapper/CityMapper.xml"/>
        <mapper  resource="ts/mapper/CountrylanguageMapper.xml"/>
        <mapper  resource="ts/mapper/CountryMapper.xml"/>
    
    </mappers>

</configuration>